@import "bootstrap";

/* Общие стили для body */
html, body {
  height: 100%;
  margin: 0;
}

header {
  padding-top: 60px; /* Для фиксированного хедера */
  background-color: #343a40;
  color: #fff;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-right: 10px;
}

#logo:hover {
  color: #ddd;
  text-decoration: none;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  margin-top: auto; /* Для фиксирования футера внизу страницы */
}

.footer small {
  display: block;
  margin-bottom: 10px;
  color: #6c757d;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer nav ul li {
  display: inline;
  margin: 0 10px;
}
