<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <small>
      The <a href="http://www.railstutorial.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails Tutorial</a>
      by <a href="http://www.michaelhartl.com/" target="_blank" rel="noopener noreferrer">Michael Hartl</a>
    </small>
    <nav class="mt-2">
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li class="mx-2"><%= link_to "About", about_path %></li>
        <li class="mx-2"><%= link_to "Contact", contact_path %></li>
        <li class="mx-2"><a href="http://news.railstutorial.org/" target="_blank" rel="noopener noreferrer">News</a></li>
      </ul>
    </nav>
  </div>
</footer>
